@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/react-day-picker';

@import './print.css';

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 60 20% 4%;
    --card: 0 0% 98%;
    --card-foreground: 60 20% 4%;
    --popover: 0 0% 98%;
    --popover-foreground: 60 20% 4%;
    --primary: 122 40% 85%;
    --primary-foreground: 60 20% 4%;
    --secondary: 60 2% 90%;
    --secondary-foreground: 60 20% 4%;
    --muted: 0 0% 20%;
    --muted-foreground: 60 20% 70%;
    --accent: 120 18% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 60 20% 4%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 120 18% 40%;
    --radius: 0.5rem;

    --borders: 0, 0%, 0%, 0.102;
  }
 
  .dark {
    --background: 0 0% 2%;
    --foreground: 60 20% 96%;
    --card: 0 0% 2%;
    --card-foreground: 60 20% 96%;
    --popover: 0 0% 2%;
    --popover-foreground: 60 20% 96%;
    --primary: 122 40% 15%;
    --primary-foreground: 60 20% 96%;
    --secondary: 60 2% 10%;
    --secondary-foreground: 60 20% 96%;
    --muted: 0 0% 80%;
    --muted-foreground: 60 20% 96%;
    --accent: 120 18% 60%;
    --accent-foreground: 0 0% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 60 22% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 120 18% 60%;

    --borders: 0, 0%, 100%, 0.102;
  }
}

@layer base {
  * {
    @apply border-borders;
  }
  /* body {
    @apply bg-background text-foreground;
  } */
}
/*     --borders: 0, 0%, 0%, 0.102; */
/* --borders: 0, 0%, 100%, 0.102; */